$body-font: "M PLUS Code Latin", sans-serif;
$title-font: "Courier Prime", monospace;

$desktop-color: #90ee90;
$desktop-text-color: #007c00;
$background-color: #fff;
$hover-color: #f0f0f0;
$emph-button-color: #e0e0e0;
$font-color: #000;
$highlight-color: #00f;

$border: 1px solid $font-color;
$highlight-border-radius: 5px;
$desktop-font-size: 23vw;

$mobile-width: 600px;