@use "constants";

.directory {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  .search-bar {
    padding: 5px;
    display: flex;
    border-bottom: 1.5px solid black;
    position: relative;
    margin-bottom: 5px;

    &::after {
      content: "";
      border-bottom: 1.5px solid black;
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
    }

    .icon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    input[type=search] {
      border-radius: 0;
      border: 1.5px solid black;
      width: 100%;
      padding: 5px;
    }
  }

  .tree {
    overflow: auto;

    .node-link {
      text-decoration: none;
      padding: 2px 5px;
      border-radius: constants.$highlight-border-radius;
      color: constants.$font-color;

      .search-highlight {
        background-color: constants.$highlight-color;
        color: constants.$background-color;
        text-decoration: underline;
        font-weight: bold;
        border-radius: constants.$highlight-border-radius;
      }

      &:focus {
        background-color: constants.$highlight-color;
        color: constants.$background-color;
      }

      @media only screen and (max-width: constants.$mobile-width) {
        &:hover {
          background-color: constants.$highlight-color;
          color: constants.$background-color;
        }
      }
    }
  }
}

.root-level {
  margin: 0;
  padding: 0;

  .root-node {
    list-style-type: none;
    padding: 5px;
    margin: 0;

    & > .tree-level {
      border-left: none;
    }
  }
}

.tree-level {
  border-left: 1px solid black;
  padding: 10px 0 0 15px;

  .tree-node {
    list-style-type: none;
    margin: 5px 0;

    &::before {
      content: "";
      padding: 0 10px;
      margin: 0 5px 0 0;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      bottom: 0.5em;
      position: relative;
    }
  }
}