@use "index";
$max-width: 1000px;

footer {
  color: #fff;
  background-color: index.$accent-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 60px;
  a {
    text-decoration: none;
    color: inherit;
  }
  .next-prev-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    div {
      padding: 20px 40px;
      flex: 1;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .arrow {
        transition: index.$lazy-transition;
        font-size: 75px;
        margin: 0 20px;
        color: index.$background-accent;
      }
      &.prev {
        direction: rtl;
      }
      &.next {
        text-align: left;
      }
      p {
        @extend .styled-underline;
        transition: index.$transition 0.25s;
        z-index: 10;
        &::before {
          transition: index.$lazy-transition;
          background-color: index.$background-accent;
        }
      }
      &.prev p:hover ~ .arrow {
        transform: translateX(-20px);
      }
      &.next p:hover ~ .arrow {
        transform: translateX(20px);
      }
    }
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    p {
      flex: 1;
      margin: 0;
      &:first-of-type {
        text-align: right;
      }
      &:last-of-type {
        text-align: left;
      }
    }
    a {
      font-family: index.$display-font;
      font-size: 16px;
      &:hover {
        text-decoration: underline;
      }
    }
    .bullet {
      margin: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
