.home {
  display: flex;
  flex-direction: column;
  flex: 1;

  .content {
    flex: 1;
    padding: 5px;
  }

  .navbar {
    display: flex;

    .nav-link {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;

      img {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
        object-fit: contain;
      }
    }
  }
}