@use "constants";

* {
  box-sizing: border-box;
  font-family: constants.$body-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: constants.$body-font;
  margin: 0;
}

button {
  font-family: constants.$title-font;
  background-color: constants.$background-color;
  border: constants.$border;
  cursor: pointer;

  &:hover {
    background-color: constants.$hover-color;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

.link-button {
  font-family: constants.$title-font;
  color: constants.$font-color;
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  border: 3px outset constants.$emph-button-color;
  background-color: constants.$hover-color;
  margin: 0 5px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: constants.$emph-button-color;
    border: 3px outset constants.$font-color;
  }

  &:active {
    background-color: constants.$emph-button-color;
    border: 3px inset constants.$font-color;
  }

  img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}

.folder-button {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  padding: 0;
  margin: 0 10px;
  background-color: transparent;
  border: none;

  img {
    width: 70px;
    margin-bottom: 10px;
  }

  span {
    font-family: constants.$title-font;
    box-decoration-break: clone;
    padding: 5px;
    border-radius: 5px;
  }

  &:focus span {
    background-color: constants.$highlight-color;
    color: constants.$background-color;
  }

  @media only screen and (max-width: constants.$mobile-width) {
    &:hover span {
      background-color: constants.$highlight-color;
      color: constants.$background-color;
    }
  }

  &:hover {
    background-color: transparent;
  }
}

.marquee-container {
  .marquee {
    overflow: hidden;
    position: absolute;
    transform: translateX(0%);
    white-space: nowrap;

    span {
      display: inline-block;
      animation: scroll-left 10s linear infinite;
      animation-delay: -5s;
      padding-left: 100%;
      padding-right: 30px;
    }
  }

  .marquee2 span {
    animation-delay: 0s;
  }

  &.paused .marquee span {
    animation-play-state: paused;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}