.main {
  background-repeat: no-repeat;
  width: 100%;

}

.about {
  background-image: url("../assets/images/vaporwave/anything-can-happen.gif");
  background-position: center;
}

.playlists {
  background-image: url("../assets/images/vaporwave/skeleton-cds.gif");
  background-position: top right;
  background-size: 55%;

  ul {
    padding: 0 0 0 20px !important;

    li {
      list-style: none;

      &:before {
        content: "" !important;
      }
    }
  }
}

.directory .tree {
  background-image: url("../assets/images/vaporwave/bust-astronaut.gif");
  background-repeat: no-repeat;
  width: 100%;
  background-position: top right;
}