@use "constants";

.projects {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;

  .content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    overflow: scroll;
  }

  .navbar {
    border-right: 1px black solid;
    height: 100%;

    .nav-link {
      width: 100%;
      border: none;
      display: flex;
      padding: 10px 20px 10px 10px;
      align-items: center;

      &.active {
        background-color: constants.$highlight-color;
        color: constants.$background-color;
      }

      img {
        margin-right: 10px;
      }
    }
  }
}

.project {
  .project-buttons {
    display: flex;
    padding-bottom: 10px;

    a {
      font-family: constants.$title-font;
      color: constants.$font-color;
      text-decoration: none;
      font-size: 14px;
      padding: 5px;
      border: 3px outset constants.$emph-button-color;
      background-color: constants.$hover-color;
      margin: 0 5px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: constants.$emph-button-color;
        border: 3px outset constants.$font-color;
      }

      &:active {
        background-color: constants.$emph-button-color;
        border: 3px inset constants.$font-color;
      }

      .link-icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }
    }
  }
}