@use "constants";
@use "index";

.projects {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;

  .content-wrapper {
    overflow: scroll;

    .content {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      height: fit-content;
    }
  }

  .navbar {
    border-right: 1px black solid;
    height: 100%;

    .nav-link {
      width: 100%;
      border: none;
      display: flex;
      padding: 10px 20px 10px 10px;
      align-items: center;

      &.active {
        background-color: constants.$highlight-color;
        color: constants.$background-color;
      }

      img {
        margin-right: 10px;
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
    }
  }
}

.project {
  .project-buttons {
    display: flex;
    padding-bottom: 10px;

    a {
      @extend .link-button;
    }
  }
}